### Fetching tweets using X API

In [ ]:
import pandas as pd
import textblob as tb
import tweepy

api_key = 'Your_Key_here'
client = tweepy.Client(bearer_token=api_key)

tweets = []
for tweet in tweepy.Paginator(client.search_recent_tweets, query='from:ipl', max_results=80).flatten(limit=50):
    tweets.append(tweet.text)
df = pd.DataFrame(tweets, columns=['Tweets'])
df.to_csv('ipl_tweets.csv', index=False)

In [ ]:
data = pd.read_csv('ipl_tweets.csv')
data = pd.DataFrame(data, columns=["Tweets"])
data.dropna
data.head()

In [16]:
# Assuming your DataFrame is called 'data'
data["sentiment"] = data["Tweets"].apply(lambda x: TextBlob(x).sentiment.polarity)
print(data.head())  # Check the first few rows with sentiment

                                              Tweets  sentiment
0  The Curvv Super Striker of the Match between G...   0.333333
1  ğ™ğ™–ğ™-ğ™¡ğ™ğ™£ğ™œ ğ™ğ™¢ğ™¤ğ™¤ğ™©ğ™ğ™¡ğ™® â›µ\n\nFor his elegant and out...   0.433333
2  ğŸ” of their Game. ğŸ” of the Table. ğŸ’™\n\n#GT roar...   0.177778
3  Match 23. Gujarat Titans Won by 58 Run(s)  htt...   0.000000
4  Match 23. WICKET!  19.2: Maheesh Theekshana 5(...   0.000000

In [17]:
data.to_csv("ipl_tweets.csv", index=False)
print("Saved to ipl_tweets.csv")

Saved to ipl_tweets.csv

In [19]:
df = pd.read_csv("ipl_tweets.csv")
df = df[['Tweets', 'sentiment']]

df.head()

                                              Tweets  sentiment
0  The Curvv Super Striker of the Match between G...   0.333333
1  ğ™ğ™–ğ™-ğ™¡ğ™ğ™£ğ™œ ğ™ğ™¢ğ™¤ğ™¤ğ™©ğ™ğ™¡ğ™® â›µ\n\nFor his elegant and out...   0.433333
2  ğŸ” of their Game. ğŸ” of the Table. ğŸ’™\n\n#GT roar...   0.177778
3  Match 23. Gujarat Titans Won by 58 Run(s)  htt...   0.000000
4  Match 23. WICKET!  19.2: Maheesh Theekshana 5(...   0.000000

### cloud work starts

In [3]:
pip install boto3

Collecting boto3
  Downloading boto3-1.37.31-py3-none-any.whl.metadata (6.7 kB)
Collecting botocore<1.38.0,>=1.37.31 (from boto3)
  Downloading botocore-1.37.31-py3-none-any.whl.metadata (5.7 kB)
Collecting jmespath<2.0.0,>=0.7.1 (from boto3)
  Using cached jmespath-1.0.1-py3-none-any.whl.metadata (7.6 kB)
Collecting s3transfer<0.12.0,>=0.11.0 (from boto3)
  Using cached s3transfer-0.11.4-py3-none-any.whl.metadata (1.7 kB)
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in c:\users\nani\dropbox\pc\desktop\data_project_apr\myenv\lib\site-packages (from botocore<1.38.0,>=1.37.31->boto3) (2.9.0.post0)
Requirement already satisfied: urllib3!=2.2.0,<3,>=1.25.4 in c:\users\nani\dropbox\pc\desktop\data_project_apr\myenv\lib\site-packages (from botocore<1.38.0,>=1.37.31->boto3) (2.3.0)
Requirement already satisfied: six>=1.5 in c:\users\nani\dropbox\pc\desktop\data_project_apr\myenv\lib\site-packages (from python-dateutil<3.0.0,>=2.1->botocore<1.38.0,>=1.37.31->boto3) (1.17.0)
Downloading boto3-1.37.31-py3-none-any.whl (139 kB)
Downloading botocore-1.37.31-py3-none-any.whl (13.5 MB)
   ---------------------------------------- 0.0/13.5 MB ? eta -:--:--
   -------------- ------------------------- 5.0/13.5 MB 27.4 MB/s eta 0:00:01
   ---------------------------------------- 13.5/13.5 MB 35.2 MB/s eta 0:00:00
Using cached jmespath-1.0.1-py3-none-any.whl (20 kB)
Using cached s3transfer-0.11.4-py3-none-any.whl (84 kB)
Installing collected packages: jmespath, botocore, s3transfer, boto3
Successfully installed boto3-1.37.31 botocore-1.37.31 jmespath-1.0.1 s3transfer-0.11.4
Note: you may need to restart the kernel to use updated packages.

### uploading to bucket

In [ ]:
import boto3
import pandas as pd

s3 = boto3.client('s3', aws_access_key_id='access_key_id', aws_secret_access_key='secret_key')
bucket_name = 'bucket-name'  # Replace with your bucket name
file_name = 'ipl_tweets.csv'  # Replace with your file name
s3.upload_file(file_name, bucket_name, file_name)
print("File uploaded to S3 bucket successfully.")

File uploaded to S3 bucket successfully.

In [4]:
!pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-9.2.0-cp312-cp312-win_amd64.whl.metadata (6.2 kB)
Downloading mysql_connector_python-9.2.0-cp312-cp312-win_amd64.whl (16.1 MB)
   ---------------------------------------- 0.0/16.1 MB ? eta -:--:--
   ------- -------------------------------- 2.9/16.1 MB 21.0 MB/s eta 0:00:01
   -------------------------- ------------- 10.5/16.1 MB 31.2 MB/s eta 0:00:01
   ---------------------------------------- 16.1/16.1 MB 28.9 MB/s eta 0:00:00
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-9.2.0

In [ ]:
import mysql.connector
import pandas as pd

# RDS connection details
host = "rds_client"
user = "admin"
password = "password"
database = "ipl_db"

# Connect to RDS
conn = mysql.connector.connect(host=host, user=user, password=password, database=database)
cursor = conn.cursor()

# Read CSV
data = pd.read_csv("ipl_tweets.csv")

# Insert data
for i, row in data.iterrows():
    cursor.execute("INSERT INTO tweets (text, sentiment) VALUES (%s, %s)", (row["Tweets"], row["sentiment"]))
conn.commit()

# Verify
cursor.execute("SELECT COUNT(*) FROM tweets")
print(f"Rows inserted: {cursor.fetchone()[0]}")
conn.close()
print("Data loaded into RDS")

Rows inserted: 50
Data loaded into RDS